resources/themes/rmd-theme/dist/styles/**
resources/themes/rmd-theme/dist/scripts/**
resources/themes/rmd-theme/dist/images/**
resources/themes/rmd-theme/dist/fonts/**

node_modules
node_modules/**

.htaccess
.env

resources/uploads
resources/uploads/**

vendor/
vendor/**

.DS_Store

app/
app/**

builder/
builder/**