.contact {
  .form {
    label,
    input {
      font-size: 1.6rem;
      font-family: $main-font;
    }

    label {
      padding-left: 1rem;
      font-weight: 600;
      color: $blue;
    }

    input {
      color: $black;
    }

    #submit {
      color: $white;
      border: none;
    }
  }
}