.homehero {
  position: relative;

  &__bloc {
    padding: 50px 0 100px 0;
    background-color: $blue;

    &__text {
      width: 90%;
      margin: 0 auto;
      color: $white;

      @include medium {
        width: 60%;
      }

      p {
        text-align: center;
        font-family: $secondary-font;
        font-size: 2rem;
        line-height: 1.8;
      }
    }
  }

  &__video {
    position: relative;
    height: 565px;
    margin-bottom: 50px;

    &__container {
      position: absolute;
      top: -80px;
      left: 50%;
      width: 70%;
      height: 240px;
      transform: translateX(-50%);
      box-shadow: 0 28px 57px 0 rgba(0, 0, 0, 0.51);
      background-color: $white;

      @include small {
        height: 400px;
      }

      @include medium {
        height: 565px;
      }

      &__bloc {
        position: relative;
        height: 100%;

        iframe {
          width: 100%;
          height: 100%;
        }

        .vignette {
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.js-is-video-active {
  opacity: 1 !important;
}

.js-is-hidden-vignette {
  display: none;
}
