.slider__history {
  position: relative;
  overflow: hidden;

  &__slide {
    position: absolute;
    top: 0;
    padding: 30px;
    background-color: $blue;
    color: $white;
  }
}
// .glide__history {
//   background-color: $blue;
//   overflow: hidden;

//   .glide__slides {
//     display: flex;
//     padding: 0;

//     .glide__slide {
//       padding: 30px;

//       p {
//         color: $white;
//       }
//     }
//   }

//   .glide__bullets {
//     display: flex;
//     justify-content: center;

//     .glide__bullet {
//       margin: 10px 5px;
//       padding: 10px;
//       border: none;
//       border-radius: 25px;
//       outline: none;
//     }

//     .glide__bullet--active {
//       background-color: $light-blue;
//     }
//   }
// }