.home-news {
  margin: 50px 0;

  h2 {
    background-color: transparent;
  }

  &__container{
    display: flex;
    flex-direction: column;

    @include large {
      justify-content: space-around;
      flex-direction: row;
    }

    &__bloc {
      max-width: 480px;
      margin-top: 50px;

      @include large {
        margin-top: 0;
      }

      .post-picture {
        display: none;

        @include large {
          display: flex;
          justify-content: center;
          z-index: -1;
        }

        img {
          min-height: 200px;
          max-width: 300px;
        }
      }
    
      .bloc-post {
        width: 95%;
        margin: 0 auto 15px auto;
        padding: 15px 5px 25px 5px;
        border-left: 15px solid $blue;
        box-shadow: 1px 1px 4px grey;
        background-color: rgba(255, 255, 255, 1);
        transition: all 1s ease-in;
        transform: translateY(-25%);

        @include large {
          width: 100%;
          margin: 0 auto;
          padding: 15px 45px 25px 5px;
        }
    
        .button {
          color: white;
        }
    
        &:hover,
        &:focus {
          transition: all 1s ease-in;
          background-color: white;
          transform: translateY(0);
          border-left: 15px solid $medium-blue;
    
          .button {
            background-color: $medium-blue;
          }
        }
    
        &__content {
          padding-left: 15px;

          p {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}