.homeslider {
  display: flex;
  align-items: center;
  height: 500px;
  background-color: $white;

  // .glide__slides {
  //   display: flex;
  //   align-items: center;

  //   .glide__slide {
  //     position: relative;

  //     .picture {
  //       position: relative;

  //       img {
  //         width: 100%;
  //       }

  //       span {
  //         position: absolute;
  //         bottom: 0;
  //         right: 0;
  //         width: 50px;
  //         height: 50px;
  //         background-color: goldenrod;

  //         i {
  //           color: black;
  //         }
  //       }
  //     }

  //     // .overlay {
  //     //   position: absolute;
  //     //   bottom: 0;
  //     //   right: 0;
  //     //   height: 100%;
  //     //   width: 100%;
  //     //   opacity: 0;
  //     //   background-color: rgba(0, 0, 0, 0.8);
  //     //   transition: opacity 0.5s ease-in-out;
  //     // }

  //     // &:hover,
  //     // &:focus {
  //     //   .overlay {
  //     //     opacity: 1;
  //     //   }
  //     // }
  //   }
  // }
}